@model BlogrollIndexViewModel
@{
    ViewData["Title"] = "blogroll";
}

<div class="innerwidth">
    <h2>Blogroll</h2>
    <p class="lead">
        The following are some blogs from writers that I like, which I regularly update.
        Maybe you'll like them too, check them out!
    </p>
    <br/>

    @foreach (var blog in Model.Blogs)
    {
        <partial name="Partials/Blogroll/BlogrollEntry" model="blog"/>
        <br/>
    }
</div>

<partial name="Partials/Pagination" model="Model.Pagination"/>