@{
    ViewData["Title"] = "sign in";
}

<div class="innerwidth">
    <form asp-action="Login">
        <label>
            Email<br />
            <input type="email" name="email" />
        </label>
        <br /><br />
        <label>
            Password<br />
            <input type="password" name="password" />
        </label>

        <br /><br />

        <input type="submit" />
    </form>
</div>