@{
    ViewData["Title"] = "page not found";
}

<div class="innerwidth">
    <h1>404</h1>
    <h2>Page not found.</h2>

    <p>The page you requested could not be found. Please inform the site owner that referred you to this page about the broken link.</p>
    <p>You can visit the <a asp-controller="Journal" asp-action="Index">home page</a>, or try to find the page you were looking for in the <a asp-controller="Journal" asp-action="Archive">archive</a>.</p>
</div>