@page

@{
    Layout = "_Layout";
    ViewData["Title"] = "documentation - ps advanced shortcut";
}

<div class="innerwidth">
    <h1>Documentation</h1>
    <ul>
        <li><a href="/projects/psadvancedshortcut/docs/installation">Installation</a></li>
        <li><a href="/projects/psadvancedshortcut/docs/commands">Commands</a></li>
    </ul>
</div>

@section Submenu
{
    <partial name="Shared/PsAdvancedShortcutSubmenu"/>
}