@{
    ViewData["Title"] = "colophon";
}

<div class="innerwidth">
    <h2>Colophon</h2>
    <p class="lead">
        The software this blog runs on is <a href="https://github.com/crookm/aoraki" rel="noopener">custom</a>, below is a list of the tools I used to create it.
    </p>

    <h3>Runtimes and dependencies</h3>
    <p>
        <ul>
            <li><a href="https://dotnet.microsoft.com/" rel="noopener">.NET 6</a></li>
            <li><a href="https://dotnet.microsoft.com/apps/aspnet" rel="noopener">ASP.NET</a></li>
            <li><a href="https://github.com/xoofx/markdig" rel="noopener">Markdig</a></li>
            <li><a href="https://github.com/uhaciogullari/SimpleMvcSitemap" rel="noopener">SimpleMvcSitemap</a></li>
        </ul>
    </p>

    <h3>Developer tooling and monitoring</h3>
    <p>
        <ul>
            <li><a href="https://www.jetbrains.com/rider/" rel="noopener">JetBrains Rider</a></li>
            <li><a href="https://azure.microsoft.com/en-us/services/monitor/" rel="noopener">Azure Application Insights</a></li>
            <li><a href="https://trello.com/" rel="noopener">Trello</a></li>
        </ul>
    </p>

    <h3>Infrastructure</h3>
    <p>
        <ul>
            <li><a href="https://www.cloudflare.com/" rel="noopener">CloudFlare</a></li>
            <li><a href="https://azure.microsoft.com/en-gb/services/app-service/" rel="noopener">Azure App Service</a></li>
            <li><a href="https://azure.microsoft.com/en-gb/services/storage/tables/" rel="noopener">Azure Table Storage</a></li>
        </ul>
    </p>
</div>
