@model IProjectDefinition

<div class="innerwidth">
    <component type="Model.BlazorEntryComponent" render-mode="WebAssemblyPrerendered"/>
</div>

@section Meta
{
    <base href="/"/>
}

@section Styles
{
    @if (!string.IsNullOrWhiteSpace(Model.BlazorStyleSheetUri))
    {
        <link href="@Model.BlazorStyleSheetUri" asp-append-version="true" rel="stylesheet"/>
    }
}

@section Scripts
{
    <script src="_framework/blazor.webassembly.js"></script>
}