@model IProjectDefinition

<div class="innerwidth">
    <component type="Model.EntryComponent" render-mode="WebAssemblyPrerendered"/>
</div>

@section Meta
{
    <base href="/"/>
}

@section Styles
{
    @if (!string.IsNullOrWhiteSpace(Model.StyleSheetUri))
    {
        <link href="@Model.StyleSheetUri" asp-append-version="true" rel="stylesheet"/>
    }
}

@section Scripts
{
    <script src="_framework/blazor.webassembly.js"></script>
}