<div class="innerwidth">
    <a asp-controller="Journal" asp-action="Index">index</a> &middot;
    <a asp-controller="Blogroll" asp-action="Index">blogroll</a> &middot;
    <a asp-controller="Journal" asp-action="Archive">archive</a>
    <hr/>
</div>