@model JournalIndexViewModel
@{
    ViewData["Title"] = "journal";
}

<div class="innerwidth">
    @foreach (var post in Model.Posts)
    {
        <partial name="Partials/Journal/JournalEntryPreview" model="post"/>
        <br/>
    }
</div>

<partial name="Partials/Pagination" model="Model.Pagination"/>