<div class="innerwidth">
    <a href="/projects/psadvancedshortcut">overview</a> &middot;
    <a href="/projects/psadvancedshortcut/changelog">changelog</a> &middot;
    <a href="/projects/psadvancedshortcut/docs">docs</a> &middot;
    <a href="https://github.com/crookm/ps-advanced-shortcut" rel="noopener">github</a>
    <hr/>
</div>